@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    font-family: var(--font-family);
    margin: 0;
}  

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.conteudo {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 2px;
}

.filter-user {
    width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
}

.filter-user-content {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.filter-region {
    width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
    margin-top: 5px;
}

.filter-region-content {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.user {
    width: 100%;
    background-color: #ededed;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}

.user .name-user {
    font-size: 13px;
    color: #5d5d5d;
}

.user .street-user {
    font-size: 13px;
    color: #5d5d5d;
}

.user .ender-user {
    font-size: 13px;
    color: #5d5d5d;
}

.img-user {
    width: 85px;
    border-radius: 6px;
}
  